@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 25% 97%;
    --foreground: 153 29% 6%;
    --card: 150 25% 97%;
    --card-foreground: 153 29% 6%;
    --popover: 150 25% 97%;
    --popover-foreground: 153 29% 6%;
    --primary: 152 30% 52%;
    --primary-foreground: 153 29% 6%;
    --secondary: 207 30% 74%;
    --secondary-foreground: 153 29% 6%;
    --muted: 150 25% 20%;
    --muted-foreground: 153 29% 70%;
    --accent: 219 30% 64%;
    --accent-foreground: 153 29% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 153 29% 6%;
    --border: 150 25% 20%;
    --input: 150 25% 20%;
    --ring: 219 30% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 150 25% 3%;
    --foreground: 153 29% 94%;
    --card: 150 25% 3%;
    --card-foreground: 153 29% 94%;
    --popover: 150 25% 3%;
    --popover-foreground: 153 29% 94%;
    --primary: 152 30% 48%;
    --primary-foreground: 150 25% 3%;
    --secondary: 207 30% 26%;
    --secondary-foreground: 153 29% 94%;
    --muted: 150 25% 80%;
    --muted-foreground: 153 29% 94%;
    --accent: 218 30% 36%;
    --accent-foreground: 153 29% 94%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 152 29% 10%;
    --border: 149 25% 60%;
    --input: 150 25% 80%;
    --ring: 218 30% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
